body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }

  h1 {
    text-align: center;
    background: blue;
  }

  .weather-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2em;
    margin: 0;
    margin-bottom: 20px;
   text-decoration: double;
   background-color: rgb(204, 198, 198);
  }
  #forecast-card{
    margin-bottom: 100px;
    
  }
  .box{
    margin: 0;
      width: 150px;
      height: 200px;
      padding:0;
      border: 5px solid rgb(48, 4, 138);
      display: inline-block;
      background-color: rgb(27, 11, 84);
  }
  
#city-input{
  box-shadow: 20px;
  border-radius: 30px;
}
#search-button{
  box-shadow: 20px;
  border-radius: 30px;
  background-color: blue;
}
  .weather-card h2 {
    margin-top: 0;
  }

  .weather-card p {
    margin-bottom: 10px;
  }
  
  #forcast-card {
    display: flex;
    align-items: center; /* Center items horizontally */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px; 
    background-color: blue;
    
  }

  .search-history {
    margin-top: 50px;
  }

  .search-history button {
    margin-right: 5px;
    box-sizing: 30px;
    box-shadow: 20px;
    border-radius: 20px;
  }